@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'TR Avalon';
  src: url('./fonts/tr-avalon-plain.ttf') format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'TR Avalon';
  src: url('./fonts/tr-avalon-bold.ttf') format('truetype');
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TR Avalon', sans-serif;
}


body {
  margin: 0;
  font-family: 'TR Avalon', sans-serif;
  /* background-color: #111318; */
  background-color: #000;
  color: #fff;
}


/* underline effect on menu items */

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #eadabe;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transform-origin: bottom right;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #eadabe; 
}

.hover-menu:hover {
  color: #eadabe !important;
}

/* loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #111318; */
  background-color: #000;
  opacity: 1;
  transition: opacity 1s ease-out, visibility 0s 1s;
  z-index: 9999;
}

.loading-screen.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
  transition: opacity 1s ease-out, visibility 0s;
}

.loader {
  position: relative;
  width: 60px;
  height: 45px;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 25px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eadabe;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 3.5px;
  width: 22.5px;
  border-radius: 4px;
  box-shadow: 0 2.5px 0 #bbbbbb,
              -17.5px 25px 0 #bbbbbb,
              -35px 47.5px 0 #bbbbbb;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }
  40% {
    transform: scale(0.8, 1.2);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    bottom: 70px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0),
                0 5px 0 #bbbbbb,
                -17.5px 25px 0 #bbbbbb,
                -35px 47.5px 0 #bbbbbb;
  }
  100% {
    box-shadow: 0 5px 0 #bbbbbb,
                -17.5px 25px 0 #bbbbbb,
                -35px 47.5px 0 #bbbbbb,
                -35px 47.5px 0 rgba(0, 0, 0, 0);
  }
}


/* scrolling spotify thingy */

.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.scrolling-text>p {
  display: inline-block;
  padding-left: 15%;
  animation: scroll-text 20s linear infinite;
}

@media (min-width: 768px) {
  .scrolling-text>p {
      padding-left: 40%;
  }
}

@media (min-width: 768px) {
  .scrolling-text>p {
      animation: scroll-text 30s linear infinite;
  }
}

@keyframes scroll-text {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}

.bg-semi-transparent-blur {
  background-color: rgba(17, 19, 24, 0.7);
  backdrop-filter: blur(10px);
}
